.custom-checkbox {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #cbd5e0;
  border-radius: 0.25rem;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #4f46e5;
}

.custom-checkbox:focus-visible {
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.custom-checkbox::before {
  content: "";
  position: absolute;
  top: 0.15rem;
  left: 0.5rem;
  width: 0.5rem;
  height: 0.9rem;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox:checked::before {
  opacity: 1;
}