.app{
  background-image: url('./Assets/hero-image-wr.jpg');
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.logoContainer img {
  height: 30px;
}

.searchContainer{
  background-color: #282B30;
  border-radius: 20px;
  height: auto;
}

.country-page .searchContainer {
  width: 75%;
}

.country-page-search .searchContainer {
  width: 75%;
}